@tailwind base;

html {
  scroll-behavior: smooth;
  word-break: break-word;
}

::selection {
  color: hsl(var(--background));
  background: hsl(var(--accent));
}

* {
  scrollbar-width: thin;
  scrollbar-color: transparent hsl(var(--foreground));
}


*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(var(--accent));
  border-radius: 14px;
  border: 3px solid hsl(var(--background));
}

@tailwind components;
@tailwind utilities;

[data-theme='light'] {
  --background:  #EEFFF8;
  --foreground: #030606;
  --primary: #ACF8CD;
  --secondary: #043633;
  --accent: #3AD1C5;
}

[data-theme='dark'] {
  --background: #030606;
  --foreground: #EEFFF8;
  --primary: #ACF8CD;
  --secondary: #043633;
  --accent: #3AD1C5;
}
 
@layer base {
  :root {
    --background: 155 100% 99%;
    --foreground: 180 33% 2%;

    --card: var(--secondary);
    --card-foreground: var(--foreground);
 
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
 
    --primary: 179 95% 62%;
    --primary-foreground: var(--foreground);
 
    --secondary: 180 74% 92%;
    --secondary-foreground: var(--background);
 
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
 
    --accent: 195 80% 47%;
    --accent-foreground: var(--foreground);
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 175, 62%, 52%;
    --input: 176 86% 11%;
    --ring: 175, 62%, 52%;
 
    --radius: 0.8rem;
  }
 
  .dark {
    --background: 180 33% 2%;
    --foreground: 155 100% 99%;

    --card: var(--secondary);
    --card-foreground: var(--foreground);
 
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
 
    --primary: 146 84% 82%;
    --primary-foreground: var(--background);
 
    --secondary: 176 86% 11%;
    --secondary-foreground: var(--background);
 
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
 
    --accent: 175, 62%, 52%;
    --accent-foreground: var(--foreground);
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 175, 62%, 52%;
    --input: 176 86% 11%;
    --ring: 175, 62%, 52%;
 
    --radius: 0.8rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}